@font-face {
    font-family: 'gilroy';
    src: url('./assets/fonts/gilroy-regular.ttf');
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'gilroy';
}

.btn {
    color: #fff;
    background-color: var(--primaryColor);
    border: none;
    outline: none;
    border-radius: 2px;
    cursor: pointer;
}

.btn:active {
    background-color: #797ddf;
}
